header h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 10px;
}

.B {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  background: #444;
  border-radius: 5px;
  padding: 2px 10px;
  margin-right: 5px;
}

header p {
  font-size: 13px;
  color: #666;
  text-align: center;
  margin: 0 0 5px;
}

hr {
  margin: 10px 0 10px;
}

.tabs {
  height: 100%;
  min-height: 500px;
  /* overflow: hidden; */
}

.note-editor {
  width: 100%;
}

.note-editing-area {
  height: 100%;
  min-height: 420px;
}

.edit-area {
  height: 100%;
  padding: 10px 10px 0;
}

#change {
  padding: 20% 10px;

}

#output {
  height: 97%;
  min-height: 480px;
}

.preview-area {
  height: 100%;
  min-height: 640px;
  overflow-y: scroll;
}

footer p {
  font-size: 10px;
  color: #666;
  text-align: center;
  margin: 0 0 10px;
}

@media (max-width: 1300px) {
  #change {
    min-height: 640px;
  }
  .preview-area {
    min-height: 700px;
  }
}

@media (max-width: 960px) {
  .edit-area {
    flex-direction: column;
  }
  .write, .read {
    width: 100%;
    padding: 0 10px;
  }
  .note-editing-area {
    height: 38vh;
    min-height: auto;
  }
  #change {
    padding: 0 10px;
    max-height: 30px;
    min-height: auto;
  }
  #output {
    height: 46vh;
    min-height: auto;
    margin-top: 20px;
  }
  .tabs {
    height: 100vh;
    min-height: 850px;
  }
  .preview-area {
    height: 100vh;
    min-height: 790px;
  }
}